recursive-include licenses *
include LICENSE
include .gitignore
include README.rst
include PREADME.rst
include CHANGES.rst
include tiny_gnupg/__init__.py
include tiny_gnupg/tiny_gnupg.py
include tiny_gnupg/gpghome/gpg2
include tiny_gnupg/gpghome/gpg2.conf
include tests/coverage.svg
include tests/test_tiny_gnupg.py
exclude tiny_gnupg/gpghome/tofu.db
exclude tiny_gnupg/gpghome/sshcontrol
exclude tiny_gnupg/gpghome/random_seed
exclude tiny_gnupg/gpghome/trustdb.gpg
exclude tiny_gnupg/gpghome/pubring.kbx
exclude tiny_gnupg/gpghome/pubring.kbx~
recursive-exclude tests/htmlcov *
recursive-exclude tiny_gnupg/gpghome/crls.d *
recursive-exclude tiny_gnupg/gpghome/openpgp-revocs.d *
recursive-exclude tiny_gnupg/gpghome/private-keys-v1.d *
